@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primary-color: #10b981;
  --off-white: #f3f4f6;
}

h1 {
  color: var(--primary-color);
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: var(--off-white);
}

table {
  text-align: center;
  margin: auto;
}

table,
th,
td {
  border: 1px solid var(--primary-color);
  padding: 1rem;
  border-collapse: collapse;
}

caption {
  padding: 1rem;
}

.tab-list {
  background-color: lightyellow;
}

#check-button {
  display: block;
  margin: auto;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  margin-top: 1rem;
  cursor: pointer;
  color: white;
}

#next-button {
  display: block;
  margin: auto;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  margin-top: 1rem;
  cursor: pointer;
  color: white;
}

#bill-amount {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  background-color: white;
  padding: 0.5rem 1rem;
}

#cash-given {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  background-color: white;
  padding: 0.5rem 1rem;
}

label {
  display: block;
  padding: 1rem;
  font-weight: 1rem;
  font-size: 1.6rem;
}

div {
  text-align: center;
}

caption {
  font-weight: 1rem;
  font-size: 1.6rem;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  color: white;
  padding-left: 20rem;
  padding-right: 20rem;
}

.footer-list {
  text-align: center;
  padding-inline-start: 0rem;
}

.footer-inline {
  list-style: none;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-header {
  font-weight: bold;
  font-size: large;
}

.footer .link {
  color: white;
}

.footer-inline :hover {
  color: black;
  /* transition: all 0.3s ease-out; */
}
